# .NET
bin/
obj/
*.user
*.suo
.vs/
appsettings.Development.json

# Angular
node_modules/
dist/
.angular/

# Environment
.env
.env.local
*.env

# Docker
postgres_data/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp

.vercel
.env*
